[submodule "Core/ThirdParty/spdlog"]
	path = Core/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Core/ThirdParty/csv"]
	path = Core/ThirdParty/csv
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "Core/ThirdParty/mINI"]
	path = Core/ThirdParty/mINI
	url = https://github.com/metayeti/mINI
[submodule "Core/ThirdParty/ValveNetworking"]
	path = Core/ThirdParty/ValveNetworking
	url = https://github.com/ValveSoftware/GameNetworkingSockets
[submodule "Example/ThirdParty/imgui"]
	path = Example/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Core/ThirdParty/AI_Pathfinding"]
	path = Core/ThirdParty/AI_Pathfinding
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "Example/ThirdParty/DirectXhelper"]
	path = Example/ThirdParty/DirectXhelper
	url = https://github.com/microsoft/DirectXTK.git
[submodule "Core/ThirdParty/TinyObjLoader"]
	path = Core/ThirdParty/TinyObjLoader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Example/ThirdParty/Raylib"]
	path = Example/ThirdParty/Raylib
	url = https://github.com/raysan5/raylib.git
