[submodule "Core/ThirdParty/spdlog"]
	path = Core/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Core/ThirdParty/csv"]
	path = Core/ThirdParty/csv
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "Core/ThirdParty/mINI"]
	path = Core/ThirdParty/mINI
	url = https://github.com/metayeti/mINI
[submodule "Core/ThirdParty/ValveNetworking"]
	path = Core/ThirdParty/ValveNetworking
	url = https://github.com/ValveSoftware/GameNetworkingSockets
[submodule "Example/ThirdParty/imgui"]
	path = Example/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Example/ThirdParty/NativeFileDialogue"]
	path = Example/ThirdParty/NativeFileDialogue
	url = https://github.com/btzy/nativefiledialog-extended.git
